* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif; }

  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--heading-color);
  color: var(--text-color);
  position: relative; }

  @media screen and (min-width: 800px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
  }

}

main h1 {
  grid-column: 1/-1;
  font-size: 1.5rem; }

figure {
  width: 100%;
}

figure img {
  display: block;
  width: 100%;
  border-radius: 4px;
}

footer {
  background-color: var(--text-color);
  color: white;
  text-align: center;
  padding: 1rem;
}