#course-title {
    display: block;
    text-align: center;
    padding:2rem;
    font-size: xx-large;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: teal;
}

nav a {
    padding: 13px;
    flex: auto;
    text-align: center;
    color: white;
    text-decoration: none;
}

header {
    color: white;
    background-color: rgb(28, 153, 203)
}

body {
     font-family: "Nunito", sans-serif;
}

main {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: auto auto;
}

h1 {
    grid-column: 1/3;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    background-color: rgb(54, 78, 135);
    margin: auto;
    padding: 10px;
    border-radius: .75rem .75rem 0 0;
}

.card {
    border: 1px solid black;
    border-radius: .75rem;
    background-color: white;
    margin: 10px;
}

.card > div {
    padding: 10px;
}


.middle-right {
    clear: both;
}

.content-left {
    float: right;
    padding-left: 10px;
}

.bottom-right {
    float: right;
    padding-left: 10px;
}

.content-right {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.content-center {
    display: grid;
    height: 80%;
    align-items: center;
}

li{
    padding: 5px 0 ;
}

footer {
    background-color:rgb(28, 153, 203) ;
    color: white;
    text-align: center;
    padding: 10px;
}

.yarndings-12-charted-regular {
  font-family: "Yarndings 12 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
}
